<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>asteroidspeed_1</key>
		<integer>10</integer>
		<key>asteroidspeed_2</key>
		<integer>50</integer>
		<key>asteroidspeed_3</key>
		<integer>100</integer>
		<key>NumberOfCharacters</key>
		<integer>50</integer>
		<key>Characters</key>
		<string>asdfjklö</string>
	</dict>
	<dict>
        <key>asteroidspeed_1</key>
        <integer>10</integer>
        <key>asteroidspeed_2</key>
        <integer>50</integer>
        <key>asteroidspeed_3</key>
        <integer>100</integer>
		<key>NumberOfCharacters</key>
		<integer>50</integer>
		<key>Characters</key>
		<string>asdfjklöqweruiop</string>
	</dict>
	<dict>
        <key>asteroidspeed_1</key>
        <integer>10</integer>
        <key>asteroidspeed_2</key>
        <integer>50</integer>
        <key>asteroidspeed_3</key>
        <integer>100</integer>
		<key>NumberOfCharacters</key>
		<integer>50</integer>
		<key>Characters</key>
		<string>asdfjklöqweruiopzxcvm</string>
	</dict>
	<dict>
        <key>asteroidspeed_1</key>
        <integer>10</integer>
        <key>asteroidspeed_2</key>
        <integer>50</integer>
        <key>asteroidspeed_3</key>
        <integer>100</integer>        
		<key>NumberOfCharacters</key>
		<integer>50</integer>
		<key>Characters</key>
		<string>asdfjklö</string>
	</dict>
</array>
</plist>
